.author-info-wrapper {
    width: fit-content;
}

.author-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.author-info .author-info__info {
    display: flex;
    flex-direction: column;
}

.author-info .author-info__info p {
   margin: 0;
   font-size: 14px;
}

.author-info .author-info__info-name {
    font-weight: 700;
}

.author-info .author-info__info-date {
    color: #6e6e6e;
}

.author-info img {
  max-width: 64px;
  max-height: 64px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  aspect-ratio: 1 / 1;
}
