.accordion .accordion-item-label {
    display: flex;
    justify-content: space-between;
    border: none;
    background: transparent;
    padding: 1rem 0;
    width: 100%;
}

.accordion .accordion-item-container {
    border-top: 1px solid #B0B2B8;
}

.accordion .accordion-item-container:last-child {
    border-bottom: 1px solid #B0B2B8;
}

.accordion .accordion-item-label:hover {
    cursor: pointer;
}

.accordion .accordion-item-label:hover h3 {
    color: var(--color-secondary);
}

.accordion .icon-plus::before, .icon-minus::before {
    font-size: 1.25rem;
}

.accordion .accordion-item-label:hover .accordion-button {
    color: var(--color-secondary);
}

.accordion .accordion-item-label .accordion-button {
    background: transparent;
    border: none;
    padding: 0;
}
