.download.block a {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #b8b8ba;
  padding: 1rem 2rem;
  margin-bottom: 0.5rem;
  border-radius: var(--border-radius-default);
}

.download.block .link-right p {
  font-weight: 600;
  margin: 0;
}
.download.block .link-right span {
  color: #b8b8ba;
  font-size: 0.9rem;
}

.download.block .link-left.icon-download::before {
  color: var(--color-primary);
  font-size: 1.2rem;
}
