main .hero-container > div {
  max-width: unset;
}

main .hero-container {
  padding: 0;
}

.hero {
  position: relative;
  padding: 32px;
  height: 600px;
}

.hero >div:last-child {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem;
}

.hero >div:last-child > div {
  max-width: 600px;
  margin-right: auto;
  color: white;
}

.hero h1,h2,h3,h4,h5,h6 {
  color: white;
  font-size: 2.5rem;
}

.hero p{
  font-size: 1rem;
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero li a {
  display: inline-block;
  background-color: #2DA487;
  border: 1px solid #2DA487;
  color: #fff;
  padding: 1rem 1.5rem;
  text-decoration: none;
  border-radius: 2px;
  transition: background-color 0.3s, color 0.3s;
}

.hero li a:hover {
  background-color: #4DC69A;
  border: 1px solid #4DC69A;
}

.hero li a:focus-visible {
  background-color: #2DA487;
  box-shadow: rgb(32 136 52 / 50%) 0 0 0 0.2rem;
  outline: none;
}

.hero li a:active {
  background-color: #1D7A65;
  border: 1px solid #4DC69A;
}

