.separator hr{
    border: none;
    height: 1px;                 
    background-color: var(--border-color-base);
}

.separator-space hr{
    border: none;
    padding: 2rem 0;
    background-color: transparent;
}