ul {
    list-style: none;
    padding: 0;
    padding-left: 0;
  }

li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

a {
    color: #42ad93;
    text-decoration: none;
}

/* remove bullet points of the list and add spaces *//*

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}


.list-item {
  margin-bottom: 1.5rem;
  position: relative;
}

.list-item-title {
  font-weight: var(--font-weight-bold, 700);
  color: var(--color-dark-text, #181a20);
  margin-bottom: 0.25rem;
}

.list-item-title a {
  color: var(--color-primary, #213E8F);
  text-decoration: none;
}

*/
/* manage the hover a linked title *//*

.list-item-title a:hover {
  text-decoration: underline;
  color: var(--color-base-link-hover, #2DA487);
}

.list-item-description {
  margin: 0.25rem 0 0.5rem;
  color: var(--color-base-text, #484a50);
  font-size: var(--font-size-medium, 0.875rem);
  line-height: 1.5;
}

*/
/* create an horizontal layout to align element on the same row *//*

.list-item-row {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.list-item-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
}

*/
/* add horizontal space between title and description *//*

.list-item-content .list-item-title {
  margin-right: 1rem;
  margin-bottom: 0;
}

.list-item-content .list-item-description {
  margin: 0;
}

/* add a horizontal space between title and description*/
.list-item-separator {
    margin: 0 0.5rem;
    display: inline-block;
}

