/* add global styles that can be loaded post LCP here */
iframe {
    border: 0;
}

b,
strong {
    font-weight: bolder;
}
/*section content block*/
.section.content-block{
    background-color:var(--color-dark-text);
}

.section.content-block p,
.section.content-block h1,
.section.content-block h2,
.section.content-block h3,
.section.content-block h4,
.section.content-block h5,
.section.content-block h6 {
    color: #d3d3d4;
}
