/* add global styles that can be loaded post LCP here */
iframe {
    border: 0;
}

b,
strong {
    font-weight: bolder;
}
/*section content block*/
.section.content-block{
    background-color:var(--color-dark-text);
}

.section.content-block p,h1,h2,h3,h4,h5,h6{
    color: #d3d3d4;
}