:root {
  --color-primary:    #213E8F;
  --color-secondary:  #42AD93;
  --color-tertiary:   #fff;
  --color-transparent: transparent;
  --bg-color-base:                    #fff;
  --bg-color-primary:                 #213E8F;
  --bg-color-secondary:               #2DA487;
  --color-dark-text:                  #181a20;
  --color-base-text:                  #484a50;
  --color-base-link:                  #42AD93;
  --color-base-link-hover:            #2DA487;
  --border-color-base:                #C8CACC;
  --border-color-base-hover:          #707274;
  --bg-color-primary-hover:           #3357B8;
  --bg-color-secondary-hover:         #4DC69A;
  --bg-color-tertiary-hover:          #F2F2F4;
  --bg-color-outline-primary-hover:   var(--bg-color-primary-hover);
  --bg-color-outline-secondary-hover: var(--bg-color-secondary-hover);
  --bg-color-outline-tertiary-hover:  var(--bg-color-tertiary-hover);
  --bg-color-primary-active:          #15285C;
  --bg-color-secondary-active:        #1D7A65;
  --bg-color-tertiary-active:         #208834;
  --bg-color-outline-primary-active:  var(--bg-color-primary-active);
  --bg-color-outline-secondary-active: var(--bg-color-secondary-active);
  --bg-color-outline-tertiary-active: var(--bg-color-secondary-active);
  --bg-color-primary-focus:           #213E8F;
  --bg-color-secondary-focus:         #2DA487;
  --bg-color-tertiary-focus:          var(--bg-color-base);
  --bg-color-outline-primary-focus:   var(--bg-color-base);
  --bg-color-outline-secondary-focus: var(--bg-color-secondary);
  --bg-color-outline-tertiary-focus:  var(--bg-color-tertiary-focus);

  /* fonts */
  --body-font-family: roboto, roboto-fallback;
  --heading-font-family: var(--body-font-family);
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;
  --font-size-h1: 2.25rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.75rem;
  --font-size-h4: 1.375rem;
  --font-size-h5: 1.125rem;
  --font-size-h6: 1rem;
  --font-size-base: 1rem;
  --font-size-button: 0.875rem;
  --font-size-medium: 0.875rem;
  --font-size-small: 0.75rem;

  /* SPACE */
  --space-s: 1rem;
  --space-m: 2rem;
  --space-l: 4rem;
  --space-xl: 6rem;

  /* LINE HEIGHTS */
  --line-height-base: 1.5rem;
  --line-height-h1: 2rem;
  --line-height-h2: 2rem;
  --line-height-h3: 2rem;
  --line-height-h4: 1.75rem;
  --line-height-h5: 1.5rem;
  --line-height-h6: 1.5rem;

  /* NAV HEIGHT */
  --nav-height: 64px;

  /*  BREAKPOINTS */
  --desktop: 1200px;
  --tablet: 768px;
}

@font-face {
  font-family: roboto-fallback;
  size-adjust: 100.06%;
  ascent-override: 95%;
  src: local('Arial');
}

@media (width >= 900px) {
  :root {
    --font-size-h1: 3.75rem;
    --font-size-h2: 2.25rem;
    --font-size-h3: 1.75rem;
    --font-size-h4: 1.375rem;
    --font-size-h5: 1.125rem;
    --font-size-h6: 1rem;
    --line-height-h1: 4rem;
    --line-height-h2: 2.5rem;
    --line-height-h3: 2rem;
    --line-height-h4: 1.75rem;
    --line-height-h5: 1.5rem;
    --line-height-h6: 1.5rem;
  }
}

body {
  margin: 0;
  font-size: var(--font-size-base);
  font-family: var(--body-font-family);
  line-height: var(--line-height-base);
  color: var(--color-base-text);
  display: none;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

code,
pre {
  font-family: var(--fixed-font-family);
  font-size: var(--font-size-small);
}

code {
  padding: 0.125em;
}

pre {
  overflow: scroll;
}

a:any-link {
  color: var(--color-base-link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--color-base-link-hover);
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main .section {
  padding: 64px 16px;
}

@media (width >= 600px) {
  main .section {
    padding: 64px 32px;
  }
}

@media (width >= 900px) {
  .section > div {
    max-width: 1200px;
    margin: auto;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font-family);
  color: var(--color-dark-text);
  margin: 0;
  font-weight: bold;
}

h1 {
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
}

h2 {
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
}

h3 {
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
}

h4 {
  font-size: var(--font-size-h4);
  line-height: var(--line-height-h4);
}

h5 {
  font-size: var(--font-size-h5);
  line-height: var(--line-height-h5);
}

h6 {
  font-size: var(--font-size-h6);
  line-height: var(--line-height-h6);
}

.hide {
  display: none!important;
}
